<%- include("partials/header.ejs") %>
<section class="about-section">
  <h1>About Me</h1>
  <p>My name is Simphiwe Harvey Mankge, a dedicated Computer Engineering student and aspiring Web Developer. I have a solid foundation in software development, networking, and project management. I am passionate about contributing to innovative projects and eager to gain hands-on experience through internship opportunities.</p>
</section>
<%- include("partials/footer.ejs") %>
