<%- include("partials/header.ejs") %>
<section class="contact-section">
  <h1>Contact Me</h1>
  <form action="/newContact" method="POST">
    <input name="name" type="text" class="feedback-input" placeholder="Name" required />
    <input name="email" type="email" class="feedback-input" placeholder="Email" required />
    <textarea name="text" class="feedback-input" placeholder="Comment" required></textarea>
    <input type="submit" value="Submit" />
  </form>
</section>
<%- include("partials/footer.ejs") %>
