<%- include("partials/header.ejs") %>
<section class="blog-section">
  <h1>The Blog</h1>
  <p>Welcome to my blog! This platform allows you to share your ideas, stories, and insights. You can easily create, view, and manage your posts here.</p>
  <h2>Features</h2>
  <ul class="myList" >
    <li>Easy Post Creation</li>
    <li>View and Explore Posts</li>
    <li>Manage Posts (Update/Delete)</li>
  </ul>
</section>
<%- include("partials/footer.ejs") %>
